*.iml
.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/modules.xml
.idea/misc.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/componentbase
/app
/base
/login
/share
/module*
/coupon_view